<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="scripts/script.js"></script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/models.css"
</head>
  <body>

    <div class="NavBar" id="myNavBar">
      <div class="logo" id="myLogo"><img src="images/AmbrogioRobotVerde.png"></div>
      <div class="NavContainer" id="myNavContainer">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <a href="/" class="active">HOME</a>
        <a href="/models.html">MODELS</a>
        <a href="https://www.ambrogiorobot.com/en-us/where-to-buy" target="_blank">WHERE TO BUY</a>
      </div>
    </div>
    <div class="TopPhoto">
    <img src="images/Robot/L85 Elite.jpg">
    </div>


    <div class="ProductInfo">
      <div class="InfoLeft">
        <i class="fas fa-leaf"></i>
        <a class="Information">
          <h4>SIMPLE & ECO-FRIENDLY</h4>
          <p>No gas, no oil, no exhaust!, Robotic mowers use
             minimal energy to keep your lawn looking great
             everyday.
          </p>
      </a>
      </div>
      <div class="InfoRight">
        <i class="fas fa-recycle"></i>
        <a class="Information">
          <h4>AUTONOMOUS & EFFICIENT</h4>
          <p>Ambrogio does not need to work continuously, day-in
             and day-out. Powerful batteries and careful program-
             ming allow Ambrogio to mow on your schedule so you
             can enjoy your manicured lawn whenever you want.
          </p>
      </a>
      </div>
      <div class="InfoLeft">
        <i class="fas fa-tachometer-alt"></i>
        <a class="Information">
          <h4>HIGH PERFORMANCE & MAXIMUM PRECISION</h4>
          <p>Ambrogio easily handles the most difficult slopes -- up
             to 29˚! Stainless steel blades precisely cut grass blades,
             minimizing stress to the plant.
          </p>
        </a>
      </div>
      <div class="InfoRight">
        <i class="fas fa-user-plus"></i>
        <a class="Information">
          <h4>SMART & USER-FRIENDLY</h4>
          <p>Ambrogio is truly a "Smart" mower -- hyper-connected to
             the cloud with the Internet of Things and to your phone
             with Bluetooth. The Ambrogio Remote App allows you
             to configure, manage and control the robot, even away
             from home.
          </p>
      </a>
      </div>
    </div>



    <div class="DirectionalPhotos">
      <div class="leftmodel">
        <img src="images/Robot/L30 Deluxe_.png"class="model">
        </br>
        <a href="/">HOME</a>
      </div>
      <div class="midmodel">
        <img src="images/Robot/L30 Elite+.png" class="model">
      </br>
        <a href="https://www.ambrogiorobot.com/en-us/where-to-buy" target="_blank">WHERE TO BUY</a>
      </div>
    </div>
    <div class="footer"><strong>Ambrogio is imported and distributed by BCS America</strong> 5001 N Laggon Ave, Portland, OR 97217, <strong>PH: 1-800-777-5635</strong></div>
  </body>
</html>
